<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApcsProConnectionString"
            connectionString="Server=10.28.32.122;Database=APCSProDB_V0_96_13_Debug;User Id=sa;Password=p@$$w0rd;"
            providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>